<div class="about" id="about">
  <div class="container wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">

    <div class="row align-items-center">
      <div class="col-sm-12 col-md-4 text-center">
        <div class="col">
          <h1>About Me</h1>
          <img src="/img/travis.jpg" class="img-fluid rounded-circle" />
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <p>
          I’m Travis Galloway, a software engineer experienced in design, development and implementation of small to large scale websites and web applications across multiple platforms and industries (education, advertising, retail and banking). As a full stack developer and consultant, I provide clients with the most effective technology solutions and strategies unique to their businesses. <a href="#contact">Get in touch with me and tell me about your project.</a>
        </p>
          <p>
            When I'm not glued to my screen focused on projects, I spend time with my two Yellow Labradors, Jackson and Winston in downtown Minneapolis.
        </p>

        <h2 class="text-center">Technical Skills</h2>

        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Languages</th>
              <td>CSS, HTML, JavaScript, Ruby, SQL, Swift</td>
            </tr>
            <tr>
              <th scope="row">Databases </th>
              <td>MySQL, PostgreSQL, SQLite</td>
            </tr>
            <tr>
              <th scope="row">Frameworks</th>
              <td colspan="2">Angular, Cordova, Ruby on Rails</td>
            </tr>
            <tr>
              <th scope="row">Operating Systems</th>
              <td colspan="2">Android, iOS, OS X, Linux</td>
            </tr>
            <tr>
              <th scope="row">Cloud Platforms</th>
              <td colspan="2">AWS, Azure, GCP</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
