<div class="contact" id="contact">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <h1>Contact Me</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <form action="https://formspree.io/travisgalloway@me.com" method="POST">
          <div class="form-group row">
            <label for="example-text-input">Full Name</label>
            <input class="form-control" type="text" placeholder="Full Name" name="name">
          </div>
          <div class="form-group row">
            <label for="example-email-input">Email</label>
            <input class="form-control" type="email" placeholder="Email" name="_replyto">
          </div>
          <div class="form-group row">
            <label for="exampleTextarea">Message</label>
            <textarea class="form-control" placeholder="Describe Your Project" rows="3" name="message"></textarea>
          </div>
          <input type="hidden" name="_subject" value="Contact Form:" />
          <input type="hidden" name="_format" value="plain" />
          <input type="text" name="_gotcha" style="display:none" />
          <div class="form-group row justify-content-center">
            <input type="submit" value="Send" class="btn btn-lg btn-secondary">
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
