<div class="footer">
  <div class="container">

    <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
      <div class="col text-center">
        <p>
          <strong>Connect With Me</strong>
        </p>
      </div>
    </div>

    <div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
      <div class="col-sm-12 col-md-8">
        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-4">
            <p class="text-center">
              <a href="https://github.com/travisgalloway" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
            </p>
          </div>
          <div class="col-sm-6 col-md-4">
            <p class="text-center">
              <a href="https://www.linkedin.com/in/travis-galloway-22154a38/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
            </p>
          </div>
          <div class="col-sm-6 col-md-4">
            <p class="text-center">
              <a href="https://twitter.com/travisegalloway" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" />

    <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
      <div class="col text-center">
        <p>
          &copy; 2017 <strong>Travis Galloway</strong> | Made in Minneapolis
        </p>
      </div>
    </div>
  </div>

</div>
