<div class="projects" id="projects">
  <div class="container">

    <div class="row">
      <div class="col text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <h1>Recent Projects</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card-deck">

          <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block align-items-center">
              <h1 class="card-title text-center">VideoAnt</h1>
              <p class="card-text">VideoAnt is web-based collaborative video annotation tool developed for the College of Education + Human Development at the University of Minnesota.</p>
            </div>
            <div class="card-footer">
              <a href="https://ant.umn.edu/" target="_blank"><img src="/img/projects/videoant.jpg" class="img-fluid rounded" rel="noopener"/></a>
            </div>
          </div>

          <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block">
              <h1 class="card-title text-center">CE+HD Cardboard Demo</h1>
              <p class="card-text">Explore the College of Education and Human Development at the University of Minnesota in a virtual campus tour. Visit the departments and common areas of CEHD across the Twin Cities campus on the East Bank and St Paul. This app was developed
                as demonstration of Google Cardboard.</p>
            </div>
            <div class="card-footer">
              <a href="http://academics.cehd.umn.edu/cardboard" target="_blank"><img src="/img/projects/cardboard.jpg" class="img-fluid rounded" rel="noopener"/></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card-deck">

          <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block align-items-center">
              <h1 class="card-title text-center">Mai N. Moua Law Office</h1>
              <p class="card-text">Website redesign and maintenance for Mai N. Moua Law Office. Redesigned office brand elements and provide on-going site maintenance and security.</p>
            </div>
            <div class="card-footer">
              <a href="http://www.mnmoualaw.com" target="_blank"><img src="/img/projects/mai.jpg" class="img-fluid rounded" rel="noopener"/></a>
            </div>
          </div>

          <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block">
              <h1 class="card-title text-center">Past Work</h1>
              <p class="card-text">Other past work includes work for large corporate clients; Purina Veterinary Diets, Popeyes Lousiana Kitchen, and more.</p>
            </div>
            <div class="card-footer">
              <img src="/img/projects/past-work.jpg" class="img-fluid rounded" />
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
