<div class="services" id="services">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col content-title wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <h1>Services</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card-deck">
          <div class="card wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block text-center">
              <i class="icon-html5-alt"></i><i class="icon-css3-alt"></i><i class="icon-javascript-alt"></i>
              <h1 class="card-title">Website Design &amp; Development</h1>
              <p class="card-text text-left">
                Bringing me onboard for your website development project includes in-depth discovery sessions, understanding your brand and business goals to inform scopes, timelines and an efficient work flow. The core steps include the following with weekly check-ins:
              </p>
              <ul class="text-left">
                <li>
                  Discovery, clarity on objective and vision, wire framing
                </li>
                <li>
                  Site design and development
                </li>
                <li>
                  SEO strategy (tagging) and implementation
                </li>
                <li>
                  Post-deployment support and site maintenance
                </li>
              </ul>
            </div>
          </div>
          <div class="card wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block text-center">
              <i class="icon-database-alt2"></i><i class="icon-splatter"></i>
              <h1 class="card-title">Website Maintenance</h1>
              <p class="card-text text-left">I provide backend and frontend support for website management and maintenance for both existing and new clients. This includes:</p>
              <ul class="text-left">
                <li>
                  Monitoring and updating a live site
                </li>
                <li>
                  Performing security remediation &amp; upgrades
                </li>
                <li>
                  Troubleshooting and fixing bugs
                </li>
                <li>
                  Database management and support
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 content-title wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <h2>App Development</h2>
        <p>
          I have experience in developing desktop, web and mobile applications for a varied group of clients across several industries (education, advertising, retail and banking).
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card-deck">
          <div class="card wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block text-center">
              <i class="icon-ruby-on-rails"></i>
              <h1 class="card-title">Rails &amp; Backend Apps</h1>
              <p class="card-text">
              </p>
              <ul class="text-left">
                <li>
                  Service architecture and design
                </li>
                <li>
                  Custom web app development using Rails
                </li>
                <li>
                  Back-end services for apps
                </li>
              </ul>
            </div>
          </div>
          <div class="card wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block text-center">
              <i class="icon-angular"></i>
              <h1 class="card-title">Angular Frontend &amp; Apps</h1>
              <p class="card-text">
              </p>
              <ul class="text-left">
                <li>
                  Angular frontends for new or existing sites
                </li>
                <li>
                  Angular web app frontends for backend services
                </li>
                <li>
                  Hybrid mobile app development
                </li>
              </ul>
            </div>
          </div>
          <div class="card wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="card-block text-center">
              <i class="icon-mobile-device"></i>
              <h1 class="card-title">Mobile Apps</h1>
              <p class="card-text">
              </p>
              <ul class="text-left">
                <li>
                  Cross-platform hybrid app development
                </li>
                <li>
                  Native iOS app development
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
