<div class="testimonials">
  <div class="container">

    <div class="row">
      <div class="col text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
        <h1>Client Testimonials</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-md-6">
        <blockquote class="blockquote wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
      <div class="col-12 col-md-6">
        <blockquote class="blockquote wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
    </div>

  </div>
</div>
